.row.column
  br
  table#orders
    thead
      tr
        th #
        th E-mail
        th Телефон
        th ФИО
        th Адрес
        th Доставка
        th Статус
        th Создан
    tbody
      - @orders.each do |order|
        tr data-href=order_path(order)
          td = order[:id]
          td = order[:email]
          td = order[:phone]
          td = order[:person]
          td = order[:address]
          td = order.delivery_option
          td = order.status
          td = datetime_formatted(order[:created_at])

javascript:
  $(document).ready(function() {
    $('#orders').DataTable( {
      "order": [[0, 'desc']],
      "language": {
        "processing": "Подождите...",
        "search": "Поиск:",
        "lengthMenu": "Показать _MENU_ записей",
        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
        "infoEmpty": "Записи с 0 по 0 из 0 записей",
        "infoFiltered": "(отфильтровано из _MAX_ записей)",
        "infoPostFix": "",
        "loadingRecords": "Загрузка записей...",
        "zeroRecords": "Записи отсутствуют.",
        "emptyTable": "В таблице отсутствуют данные",
        "paginate": {
          "first": "Первая",
          "previous": "Предыдущая",
          "next": "Следующая",
          "last": "Последняя"
        },
        "aria": {
          "sortAscending": ": активировать для сортировки столбца по возрастанию",
          "sortDescending": ": активировать для сортировки столбца по убыванию"
        }
      },
    } );
  } );
